{% extends 'base.html' %}

{% block content %}
<br/>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img src="/static/img/Amazon_logo.svg" class="card-img-top" alt="Amazon">
      <div class="card-body">
        <h5 class="card-title ">Amazon</h5>
        <p class="card-text val">{{stk_info_amazon}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img src="/static/img/apple.png" class="card-img-top" alt="Apple">
      <div class="card-body">
        <h5 class="card-title ">Apple</h5>
        <p class="card-text val">{{stk_info_apple}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img src="/static/img/Pfizer_logo.svg" class="card-img-top" alt="Pfizer">
      <div class="card-body">
        <h5 class="card-title ">Pfizer</h5>
        <p class="card-text val">{{stk_info_pfizer}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img src="/static/img/tes.png" class="card-img-top" alt="Tesla">
      <div class="card-body">
        <h5 class="card-title ">Tesla</h5>
        <p class="card-text val">{{stk_info_tesla}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img src="/static/img/Bitcoin.png" class="card-img-top" alt="BTC-USD">
      <div class="card-body">
        <h5 class="card-title ">BTC-USD</h5>
        <p class="card-text val">{{stk_info_btc}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img src="/static/img/Netflix_logo.svg" class="card-img-top" alt="Netflix">
      <div class="card-body">
        <h5 class="card-title ">Netflix</h5>
        <p class="card-text val">{{stk_info_netflix}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img src="/static/img/Walmart_logo.svg" class="card-img-top" alt="Walmart">
      <div class="card-body">
        <h5 class="card-title ">Walmart</h5>
        <p class="card-text val">{{stk_info_walmart}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img src="/static/img/Google_logo.svg" class="card-img-top" alt="Google">
      <div class="card-body">
        <h5 class="card-title">Google</h5>
        <p class="card-text val">{{stk_info_google}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img src="/static/img/Clover Health.png" class="card-img-top" alt="Clover Health">
      <div class="card-body">
        <h5 class="card-title">Clover Health</h5>
        <p class="card-text val">{{stk_info_clover}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}